/Library
/Temp/ProcessJobs
/Virtual Batting Cage-csharp.sln
/Virtual Batting Cage.sln
/Virtual Batting Cage.userprefs
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
